.body{
    background-color: rgb(228, 199, 161);
}

.on {
    display:block;
}

.off {
    display: none;
}


.error-p {
    color: red;
}

.input-field {
    display:flex;
    flex-direction: column;
    max-width: 25vw;
    padding: 10px;
    margin-left:5px;
}